.title {
  font-size: 40px;
  color: #000000;
  text-align: center;
}

.text {
  margin: 0;
  font-size: 22px;
  color: #000000;
  text-align: center;
}

.link {
  margin: 20px 0;
  display: block;
  font-size: 14px;
  color: blue;
  text-align: center;
}

.table {
  margin: 0 auto;
  color: #000000;
  background: #ffffff;
  border-collapse: collapse;
}

.row {
  &Even {
    background: #ffffff;
  }

  &Odd {
    background: #eaeaea;
  }
}

.excel {
  padding: 20px 40px;
  font-size: 25px;
  text-align: center;
  border: 1px solid #ddd;
}

@media (max-width: 500px) {
  .title {
    font-size: 32px;
  }

  .excel {
    padding: 15px 24px;
    font-size: 19px;
  }
}
